#Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: shreedev44/crud-frontend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 5173


---


#Service
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec: 
  type: LoadBalancer
  selector: 
    app: frontend
  ports:
    - protocol: TCP
      port: 5173
      targetPort: 5173