#Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: user
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user
  template:
    metadata:
      labels:
        app: user
    spec:
      initContainers:
        - name: wait-for-rabbitmq
          image: appropriate/curl:latest
          command: ["sh", "-c", "until curl -f http://rabbitmq:15672; do echo waiting for RabbitMQ; sleep 5; done;"]
      containers:
        - name: user
          image: shreedev44/crud-user-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 4042



#Service
apiVersion: v1
kind: Service
metadata:
  name: user-service
spec: 
  type: LoadBalancer
  selector: 
    app: user
  ports:
    - protocol: TCP
      port: 4042
      targetPort: 4042