name: CI Pipeline

on:
  push:
    branches:
      - main
    pull_request:
      branches:
        - main

jobs:
  docker-build-push:
    runs-on: ubuntu-latest
    needs: build-test


    steps:
      - name: Checkout Code
        uses: actions/checkout@v3


      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}


      - name: Build and Push Docker Images
        run: |
          docker build -t shreedev44/crud-api-gateway:latest ./api-gateway
          docker build -t shreedev44/crud-user-service:latest ./backend/user-service
          docker build -t shreedev44/crud-admin-service:latest ./backend/admin-service
          docker build -t shreedev44/crud-notification-service:latest ./backend/notification-service
          docker build -t shreedev44/crud-frontend:latest ./frontend


          docker push shreedev44/crud-api-gateway:latest
          docker push shreedev44/crud-user-service:latest
          docker push shreedev44/crud-admin-service:latest
          docker push shreedev44/crud-notification-service:latest
          docker push shreedev44/crud-frontend:latest